{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="cinemas-list">
		<h3>Cinemas List</h3>
		<div class="col-md-6 cinema-list-left">
			{% for cinema in cinemas %}
			<div class="cinema-list-grid">
				<div class="cinema-list-grid-img">
					<a href="{% url 'list_movies' cinema.id %}" ><img src="{% static 'images/150x50.jpg' %}" alt="" /></a>
				</div>
				<div class="cinema-list-grid-text">
					<a href="{% url 'list_movies' cinema.id %}">{{cinema.user.username}}</a>
					<p>MARY ROE, MEGASYSTEMS INC, SUITE 5A-1204, 799 E DRAGRAM, TUCSON AZ 85705, USA Landmark/Nearby -V.R. Road</p>
				</div>
				<div class="clearfix"></div>
			</div>
			{% endfor %}
		</div>
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}
		