{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="now-showing-list">
    <div class="col-md-4 movies-by-category movie-booking">
        <div class="movie-ticket-book">
            {% if mov %}
            <div class="clearfix"></div>
            <img src="{{mov.image.url}}" alt="" />
            <div class="bahubali-details">
                <h4>Movie Title:</h4>
                <p>{{mov.title}}</p>
                <h4>Release Date:</h4>
                <p>{{mov.release_date}}</p>
                <h4>Duration:</h4>
                <p>{{mov.runtime}}</p>
                <h4>Director:</h4>
                <p></p>
                <h4>Language:</h4>
                <p>{{mov.language}}</p>
                <h4>Genre:</h4>
                <p>{{mov.genre}}</p>
                <h4>Description:</h4>
                <p>{{mov.description}}</p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-8 movies-dates">    
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list" style="margin-left: 12px">
                {% for date in date_range %}
                <li class="resp-tab-item" aria-controls="tab_item-{{date}}" role="tab">
                        <span>{{ date|date:"D" }} {{ date|date:"d" }}</span>
                </li>
                {% endfor %}
                <div class="clearfix"></div>
            </ul><br>
			
			
			{% for i in theatres %}
				{% for date in date_range %}
					
				<div class="resp-tabs-container">
					
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-{{date}}">
							{% for j in theatres %}
							<div class="movie-date-selection">
								<ul>
									<li class="location">
										<a href="pic-a-movie.html"><i class="fa fa-map-marker"></i>{{j.theatre.user.username}}: Location</a>
										<strong style="margin: 3rem;font-size: 2rem">{{j.name}}</strong>
									</li>
									<div style="display:flex">
									{% for show in j.show_times.all %}
									
										<li class="time">
											<a href="{% url 'seat_selection' theatre_id=j.theatre.id screen_id=j.id show_time_id=show.id selected_date=date %}" style="color:white" class="btn btn-success">{{ show.time }}</a>
											
										</li>
									
									{% endfor %}
									</div>
								</ul>
							</div>
							{% endfor %}
							
						</div>
					
				</div>
					
				{% endfor %}
			{% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
</div></div>
{% endblock %}
