{% extends 'base1.html' %}
{% load static %}
{% block admin_page %}

            <!-- Table Start -->
            
            <div class="container-fluid pt-4 px-4">
                <div align="Right">
                    <a href="{% url 'add_movie' %}" class="btn btn-primary" style="position:fixed;margin-left:-8rem">Add Movies</a>
                </div>
                <div class="row g-4">
                    
                    {% for movie in movies %}
                    <div class="col-sm-12 col-xl-5">
                        <div class="col">
                            <div class="card">
                              <img src="{{movie.poster.url}}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">{{movie.title}}</h5>
                                <p class="card-text">{{movie.description}}</p>
                              </div>
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Table End -->

{% endblock %}